<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <nav class="shadow-lg px-3 py-2  ">
        <div class="container flex flex-wrap justify-between mx-auto">
            <a class="flex item-center" href="">
                <img class="h-11 ml-5" src="https://cdn0.iconfinder.com/data/icons/picons-social/57/66-wechat-256.png" alt="">
                <span class="self-center text-3xl font-semibold">WeChat</span>
            </a>
            <div class="block w-auto">
                <ul class="flex flex-row p-2 mt-2 border rounded-lg border-gray-100 bg-blue-200">
                    <li>
                        <a href="" class="block py-2 pl-3 pr-4 rounded bg-blue-700 text-white">Rooms</a>
                    </li>
                    <li>
                        <a href="" class="block py-2 pl-3 pr-4 rounded text-white">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>
</html>